#***Data Types and*** ***Structures***

---

#*Data Types and Structures Questions*

---

1. What are data structures, and why are they important ?                     
    ans = Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.Choosing the right data structure significantly impacts the efficiency and performance of your program.

    those important forSimplify data manipulation (adding, removing, modifying elements)
Optimize searching and sorting operations etc

2. Explain the difference between mutable and immutable data types with examples ?                                                                             
    ans = mutable >>  Objects of mutable data types can be changed after they are created. This means you can modify their internal values without creating a brand new object. example: Lists,Dictionaries,Sets                
      immutable >> data types cannot be changed after they are created. Any operation that appears to modify an immutable object actually creates a new object with the modified value. The original object remains unchanged. example: Numbers,Strings, Tuples

3. What are the main differences between lists and tuples in Python ?          
    ans = list >> Those who you can storing in list it also hetergenous data like inteager , float ,anyvalue . List is an ordered collection of element that can be of any data type . List is mutable                               
     Tuple >> In tuple you do not change what you want because tuple is immutable .In tuple also ordered collection of element

4.  Describe how dictionaries store data ?                                    
    ans = Dictionaries store data as key-value pairs. Think of it like a real-world dictionary where you look up a word (the key) to find its definition (the value).The immutability of keys is crucial for ensuring that their hash values remain consistent, which is essential for the dictionary's proper functioning.

5. Why might you use a set instead of a list in Python ?                         
    ans = Choose to use a set instead of a list in several scenarios, primarily because of their distinct characteristics and performance implications for certain operations. it need to ensure that all elements in the collection are unique.
it need to perform set operations like union, intersection, difference, etc.
 The order of elements is not import

6. What is a string in Python, and how is it different from a lis ?           
   ans = string is like a fixed sequence of letters forming a word or sentence, while a list is like a flexible container that can hold various objects in a specific order, and you can rearrange or add/remove items from this container.

7. How do tuples ensure data integrity in Python ?                            
   ans = Once a tuple is created, its contents cannot be changed. You cannot add, remove, or modify the elements within a tuple after it's defined its mean these is immutable .  Preventing modification of their elements after creation.
 * Providing predictability about the data they hold.
 * Enabling their use as dictionary keys, facilitating the creation of mappings based on fixed data.
 * Serving as a reliable way to represent fixed records of information.
 * Promoting safer data sharing by guaranteeing that the data will not be altered.

8. What is a hash table, and how does it relate to dictionaries in Python ?   
 ans = Hash table  is a data structure that implements an associative array, also called a dictionary. It allows you to store key-value pairs and retrieve the value associated with a given key very efficiently, The efficiency and behavior of Python dictionaries are directly powered by the underlying hash table data structure. The use of a hash function to map keys to locations in memory allows for very fast average-case performance for common dictionary operations like insertion, deletion, and lookup.

9. Can lists contain different data types in Python ?                         
 ans = Yes, lists in Python can contain different data types. This is one of the flexible and powerful features of Python lists.

10. Explain why strings are immutable in Python ?                             
    ans = Container whose state or value can not changed is caaled immutable . string is nothing but type of immutable that way string are immutable.

11. What advantages do dictionaries offer over lists for certain tasks ?      
    ans = Heir underlying hash table structure enables significantly faster data retrieval, with average constant time complexity for lookups based on unique keys, contrasting with the linear time complexity of list searches. This key-based access enhances code readability and intuitiveness by associating meaningful labels with data.

12. Describe a scenario where using a tuple would be preferable over a list ?    
    ans = A scenario where using a tuple would be preferable is when you need to represent a fixed collection of related items that should not be modified after creation.
For example, consider representing the coordinates of a point in a 2D plane. You would naturally think of this as an ordered pair of numbers (x, y). Using a tuple (x, y) is ideal

13. How do sets handle duplicate values in Python ?                           
    ans = Python sets are quite clever when it comes to duplicate values. The key characteristic of a set is that it only stores unique elements.
So, if you try to add a duplicate value to a set, Python will simply ignore it. The set will remain unchanged. It's as if you tried to add something that was already perfectly in its place!

14. How does the “in” keyword work differently for lists and dictionaries ?   
    ans = (1)  lists, in checks if something is anywhere in the list. It might have to look at every item.                                                  
     (2) dictionaries, in only checks the main labels (keys) on the items. It's much quicker at finding if a label exist

15. Can you modify the elements of a tuple? Explain why or why not ?          
    ans = (1)No, you cannot directly change the elements of a tuple after it's created.                                                                
       (2)Tuples in Python are designed to be immutable. This is a fancy word that means "cannot be changed".

16. What is a nested dictionary, and give an example of its use case ?        
    ans = Nested dictionaries are useful for organizing complex information that has different categories or sub-information. Nested dictionaries are the way to structure data when you have relationships between different pieces of information. They allow you to create organized and easy-to-access data structures for more complex scenarios.

17. Describe the time complexity of accessing elements in dictionary ?         
    ans = how fast it is to get to something inside a Python list, in a basic way. This is what we call "time complexity".
Imagine your Python list is like a row of numbered lockers. Each item in the list is inside one of these lockers, and the number of the locker is its "index" (starting from 0)17.

18. In what situations are lists preferred over dictionaries ?                
  ans = (1) Use a list when order and potentially duplicates matter, or when you access items by their position.

  (2) Use a dictionary when you need to look up information quickly using unique names (keys).

   (3) ex : If you have a numbered shopping list, that's like a list. If you have a phone book where you look up numbers by name, that's like a dictionary.

19. Why are dictionaries considered unordered, and how does that affect data
    retrieval ?                                                               
       ans = When you add items to a dictionary, Python focuses on making it quick to find them using their keys, not on remembering the order you added them.
The fact that dictionaries are unordered doesn't make it harder or slower to get information. In fact, it's the opposite!
Because Python organizes dictionaries for efficient lookups based on keys, retrieving a value using its key is very fast, no matter how many items are in the dictionary

20. Explain the difference between a list and a dictionary in terms of data
 retrieval                                                                  
  ans = (1) List: You get items using their numerical position (index). The position matters.

 (2) Dictionary: You get items using their unique label (key). The label matters, not necessarily the order.

# ***Practical Questions***

---

1. Write a code to create a string with your name and print it

In [1]:
#ans
name = "piyush"
print(name)

piyush

2.  Write a code to find the length of the string "Hello World" ?

In [2]:
#ans
my_string = "Hello World"
length_of_string = len(my_string)
print(length_of_string)

11

3. write a code to slice the first 3 characters from the string "python programming"

In [4]:
my_string = "python"
first_three_chars = my_string[0:3]
print(first_three_chars)

pyt

4. Write a code to convert the string "hello" to uppercase

In [5]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [7]:
my_string = "I like apple"
new_string = my_string.replace("apple", "orange")
print(new_string)

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [8]:
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [9]:
my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [10]:
my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [11]:
my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it

In [13]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [14]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [15]:
my_tuple = (10, 20, 5, 15)
minimum_number = min(my_tuple)
print(minimum_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [16]:
my_tuple = ('dog', 'cat', 'rabbit')
index_of_cat = my_tuple.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [17]:
my_tuple = ('apple', 'banana', 'orange')
print(my_tuple)

('apple', 'banana', 'orange')

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [18]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [19]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [20]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [21]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [22]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [24]:
my_dictionary = {"name": "piyush", "age": 18, "city": "Jalgaon"}
print(my_dictionary)

{'name': 'piyush', 'age': 18, 'city': 'Jalgaon'}

22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
my_dictionary = {'name': 'John', 'age': 25}
my_dictionary['country'] = 'USA'
print(my_dictionary)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [26]:
my_dictionary = {'name': 'Alice', 'age': 30, 'city': 'Jalgaon'}
name_value = my_dictionary['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [27]:
my_dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dictionary['age']
print(my_dictionary)

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [28]:
my_dictionary = {'name': 'Alice', 'age': 30, 'city': 'New York'}
if 'city' in my_dictionary:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

26.  Write a code to create a list, a tuple, and a dictionary, and print them all

In [29]:
my_list = [1, 2, 3]
my_tuple = ('apple', 'banana', 'cherry')
my_dictionary = {'name': 'Piyush', 'age': 25, 'city': 'Jalgaon'}

print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dictionary)

List: [1, 2, 3]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Piyush', 'age': 25, 'city': 'Jalgaon'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [31]:
import random

# Create a list of 5 random numbers between 1 and 100 (inclusive)
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [9, 27, 81, 84, 99]

28. Write a code to create a list with strings and print the element at the third index

In [32]:
my_string_list = ["apple", "banana", "cherry", "date", "elderberry"]
element_at_index_3 = my_string_list[3]
print("Element at index 3:", element_at_index_3)

Element at index 3: date

29.  Write a code to combine two dictionaries into one and print the result.

In [34]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

combined_dict_method1 = dict1.copy()  # Create a copy to avoid modifying the original dict1
combined_dict_method1.update(dict2)
print("Combined dictionary (using update()):", combined_dict_method1)

Combined dictionary (using update()): {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [35]:
my_list = ["apple", "banana", "cherry", "apple", "date"]
my_set = set(my_list)
print(my_set)

{'cherry', 'banana', 'date', 'apple'}